:root {
  --font-color: #333;
  --background-color: #eee;
}
 
[data-theme='dark'] {
  --font-color: #eee;
  --background-color: #333;
}

a{
  color: var(--font-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 0;
  width: 90%;
}

.note-app {
  min-height: 100vh;
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: var(--font-color);
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: var(--font-color);
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
  text-align: center;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--font-color);
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: var(--font-color);
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}
 
.navigation ul li a {
  font-size: 28px;
  color: black;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
  border: 1px solid var(--font-color);
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__title a{
  color: var(--font-color);
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--font-color);
}

.note-item__body {
  font-size: 14px;
}

.note-detail__title {
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 50px;
}

.note-detail__date {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--font-color);
  text-align: center;
  font-size: 25px;
}

.note-detail__body {
  margin-top: 14px;
  text-align: center;
  font-size: 18px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--font-color);
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid var(--font-color);
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.search-bar {
  display: block;
  width: 100%;
  margin: 16px 0;
  padding: 12px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  border: 2px solid var(--font-color);;
  border-radius: 4px;
}

.login-page h2, .register-page h2 {
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}
 
.login-input, .register-input {
  margin-top: 16px;
}
 
.login-input input, .register-input input {
  display: block;
  padding: 16px;
  width: 100%;
  margin: 8px 0;
  font-size: 24px;
  background-color: transparent;
  border: 2px solid var(--font-color);
  border-radius: 8px;
}
 
.login-input button, .register-input button {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  background-color: transparent;
  border: 2px solid var(--font-color);
  border-radius: 8px;
  color: var(--font-color);
  margin: 16px 0;
}

.svg-home {
  color: var(--font-color);
  margin-bottom: -2px;
}

.svg-add {
  color: var(--font-color);
  margin-bottom: -2px;
}

.svg-theme {
  background: transparent;
  border: none;
  color: var(--font-color);
  transform: translateY(3px);
}

.svg-translate {
  background: transparent;
  border: none;
  color: var(--font-color);
  transform: translateY(2px);
}

.info-logged {
  align-items: center;
  background-color: initial;
  border: 0;
  color: #fff;
  color: var(--on-background);
  cursor: pointer;
  display: flex;
  font-size: 28px;
  gap: 8px;
}

.no-notes {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
